## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

*.DS_Store
*.fdb_latexmk
*.synctex.gz
*.idea/

*/__pycharm__/
*__pycharm__/

lib64/**/__pycache__/
lib/**/__pycache__/
*.py[cod]
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.DS_Store
**/.DS_Store

data/HandwrittenArabic/.DS_Store
data/HandwrittenArabic/Test Images 3360x32x32/.DS_Store
data/HandwrittenArabic/Train Images 13440x32x32/.DS_Store

trained_models/arabic_500/model_const30/training.gif
trained_models/arabic_500/model_cont100_disc28/training.gif

